<template>
    <div class="container-fluid todo">
        <div class="row">
            <div class="col">
                <div class="mx-auto" style="width: 200px;">
                    <img class="rounded-circle" src="../image/logo-macaon.png"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1">
                <a href="./cursos/index.vue"><img width="120px" height="120px" class="img-responsive" src="../image/icons/cursos.png"></a>
            </div>
            <div class="col-lg-1 col-md-1">
                <a href="#"><img width="120px" height="120px" class="img-responsive" src="../image/icons/estudiantes.png"></a>
            </div>
            <div class="col-lg-1 col-md-1">
                <a href="#"><img width="120px" height="120px" class="img-responsive" src="../image/icons/inscripciones.png"></a>
            </div>
            <div class="col-lg-1 col-md-1">
                <a href="#"><img width="120px" height="120px" class="img-responsive" src="../image/icons/maestros.png"></a>
            </div>
        </div>
    </div>
</template>
<style>
 html,body{
  color:white;
   height:100%;
  width:100%;
  margin: 0px;
  background: url("../image/Fondo.png") no-repeat fixed center;
    background-size: cover;

}
</style>

<script>
    export default
    {

    }
</script>
