<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import Menuprueba from './assets/components/menu.vue';
export default {
  name: 'app',
  components:{
    Menuprueba,
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      menu:'menuprueba'
    }
  }
}
</script>

<style lang="scss">
    @import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>


