<template>
    <index>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="page-header">
                            <div class="text-center">
                                <h3>Agregar Tipos de Curso</h3>
                            </div>
                        </div>
                    </div>
                    <!--End row-->
                </div>
                <!--End Container-->
            </div>

            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" name="nombre"/>
                                    </div>
                                </div>
                             <!--End Row-->
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary">Agregar</button>
                                        <a @click="$router.go(-1)" class="btn btn-secondary">Regresar</a>

                                    </div>
                                </div>
                                <!--End row-->
                            </div>
                        </form>
                        <!--End Col-->
                    </div>
                    <!--End Row-->
                </div>
                <!--End container-->
            </div>


        </div>
    </index>
</template>
<script>
    import Index from '../index.vue';
    export default 
    {
        components:{
            Index
        }
    }
</script>