<template>
    <index>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="page-header">
                            <div class="text-center">
                               <h3>Tipos de Cursos</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End container-->
            </div>

            <br>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Descripcion</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Taller</td>
                                        <td><button class="btn btn-success">Ver Mas</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--End Container-->
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="btn-group">
                            <router-link :to="{name:'tipos-cursos-agregar'}" class="btn btn-primary">Agregar</router-link>
                          </div>
                    </div>
                    <!--End row-->
                </div>
            </div>
            <!--End Div Raiz-->
        </div>
    </index>
</template>
<script>
    import Index from '../index.vue';
    export default 
    {
        components:{
            Index,
        }
    }
</script>