<template>
<div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
             <router-link class="nav-link" :to="{name:'contenidoCursos'}">Cursos</router-link>
           </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Disabled</a>
          </li>
        </ul>
      </div>

    </nav>
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
            <ul class="nav flex-column">
                    <slot name="navbar">
                    </slot>
            </ul>
        </div>
        <div class="col">
            <slot>
            </slot>
        </div>

      </div>
    </div>


</div>
</template>



<script>
    
</script>