<template>
    <contenido>

        <div slot="navbar">
            <li class="nav-item">
                <router-link class="nav-link" :to="{name:'tipos-cursos'}">Tipos de Cursos</router-link>
            </li>

            <li class="nav-item">
                <router-link class="nav-link" :to="{name:'cursos'}"><i class="fas fa-book"></i> Cursos</router-link>
            </li>


        </div>
        <div>
            <slot>
            </slot>
        </div>
    </contenido>

</template>
<script>
import Contenido from '../includes/content.vue';
export default 
{
    components:{
        Contenido,
    }
}
    
</script>