<template>
    <index>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="page-header">
                            <h3>Registrar Un Nuevo Curso</h3>
                        </div>
                        <hr>

                    </div>
                    <!--End Row-->
                </div>
                <!--End Container-->
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <form>
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" v-model.trim="cursos.nombre"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label>Descripcion</label>
                                        <textarea class="form-control" rows="5" v-model.trim="cursos.descripcion"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label>Cantidad de Horas Teoricas</label>
                                        <input type="number" class="form-control" v-model.number="cursos.cant_horas_teoricas"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12">
                                    <div class="form-group">
                                        <label>Cantidad de Horas Practicas</label>
                                        <input type="number" class="form-control" v-model.number="cursos.cant_horas_practicas" min="0"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">Agregar</button>
                                    </div>
                                    <div class="btn-group">
                                        <a @click="$router.go(-1)" class="btn btn-secondary">Regresar</a>

                                    </div>
                                </div>
                            </div>
                            <!--End Form-->
                        </form>
                    </div>
                <!--End Row-->
                </div>
                <!--End Container-->
            </div>

            

        </div>
    </index>
</template>
<script>
    import Index from '../index.vue';
    export default 
    {
        components:{
            Index
        },
        data()
        {
            return {
                cursos:{
                    nombre:'',
                    descripcion:'',
                    tipo:0,
                    cant_horas_teoricas:0,
                    cant_horas_practicas:0
                }
            }
        },
    }
</script>