<template>
    <index>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="page-header">
                            <div class="text-center">
                                <h3><i class="fas fa-book"></i>  Cursos</h3>
                            </div>
                        </div>
                    </div>
                    <!--End Row-->
                </div>
                <!--End Container-->
            </div>

            <br>
            <div class="container">
                <div class="row">
                    <div class="col offset-lg-1 offset-md-1">
                        <div class="table-responsive">
                            <table class="table table-responsive">
                                <thead>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad de Horas Practicas</th>
                                    <th>Cantidad de Horas Teoricas</th>
                                    <th>Costo</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Odontologia</td>
                                        <td></td>
                                        <td>80</td>
                                        <td>80</td>
                                        <td>RD$ 2,000.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--End Row-->
                </div>

                <div class="row">
                    <div class="offset-lg-1 offset-md-1 col-lg-2 col-md-2 col-sm-12">
                        <div class="btn-group">
                            <router-link :to="{name:'cursos-create'}" class="btn btn-primary">Agregar</router-link>
                        </div>
                    </div>
                </div>
                <!--End Container-->
            </div>
            
            <!--End Slot-->
        </div>
    </index>
</template>
<script>
import Index from '../index.vue';

export default
{
    components:{
        Index
    }
}
</script>